.timer-text {
    font-family: "Special Elite";
    font-size: 36px;
    color: #ffffff;
    text-shadow:
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
   background-color: hsla(0, 0%, 0%, 0.5); /* 0.5 es 50% transparente */
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    border-radius: 10%;
}


.timer-text.warning {
    color: #ff0000;
}
